<fieldset>
<h3>Post Title-{{post.title}}</h3>
<div *ngIf="postAuthor!=undefined">
<img [src]="postAuthor.profilePicture" width="50" height="50">
<small>{{postAuthor.name}}</small>
</div>
<td>Post Body-{{post.body}}</td>


<span>
    <app-add-like
    (onSubmitLike)="submitLike($event)"
    [postLikes]="postLikes"
    [authID]="authID"
    ></app-add-like>
    </span>
<small *ngIf="postLikes!=undefined"><app-likes
[postLikes]="postLikes"
></app-likes></small>


<app-commentfeed 
*ngIf="postComments!=undefined"
[comments]="postComments">   
</app-commentfeed>




<app-add-comment 
(onSubmitComment)="submitComment($event)"
[authID]="authID"
[postID]="post.postID"
></app-add-comment>



</fieldset>
<br>
